* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  display:flex;
  flex-direction: column;
}

main-content {
  display: flex;
  flex-direction: column;
  flex: 1;

}
.header, 
.footer {
  display: flex;
  justify-content: space-between;
}

.top, 
.header {
  background-color: #1F2937;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bolder;
}