* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

a{
  text-decoration: none;
  color:inherit
}

flex-container-column {
  display: flex;
  flex-direction: column;
  flex: 1;

}
.header, 
.footer {
  display: flex;
  justify-content: space-around;
}

.top, 
.header {
  background-color: #1F2937;
}

.header a {
  padding-left: 10px;
  padding-right: 10px;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bolder;
  padding: 10px;
}

.link-group {
  font-size: 18px;
  color: #E5E7EB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content, 
.cards-content, 
.quote-content, 
.signup-content {
  display: flex;
  flex:1
}