* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  display:flex;
  flex-direction: column;
}

main-content {
  display: flex;
  flex-direction: column;
  flex: 1;

}
.header, 
.footer {
  display: flex;
  justify-content: space-between;
}
